<div class="search-bar">
    <div class="row row-cols-4">
        <div class="col">
            <label>Année universitaire</label>
            <select class="form-select" [(ngModel)]="selectedYearValue" (change)="onSelectYear()">
                <option value=""></option>
                <option value="2019/2020">2019/2020</option>
                <option value="2020/2021">2020/2021</option>
                <option value="2021/2022">2021/2022</option>
                <option value="2022/2023">2022/2023</option>
                <option value="2023/2024">2023/2024</option>
            </select>
        </div>
      <div class="col">
        <label >Filtrer par type de demande</label>
        <select class="form-select" [(ngModel)]="selectedConventionValue" (change)="onSelectConvention()">
            <option value="All" selected>All</option>
            <option value="Projet de fin d'études (PFE)">Projet de fin d'études (PFE)</option>
            <option value="Projet de fin d'année (PFA)">Projet de fin d'année (PFA)</option>
            <option value="Projet de fin de semestre (PFS)">Projet de fin de semestre (PFS)</option>
            <option value="Stage d'observation">Stage d'observation</option>
        </select>
      </div>
    
    </div>
  </div>