
.table-header{
    background-color: rgba(61, 165, 244, 0.568);
}

.table-body{
    background-color: rgba(0,0,0,0.05);
}

.table-service{
    margin-left: 4em;
    margin-right: 4em;
}
.demande-number{
    margin-left: 4em;
    font-size: 12pt;
}

.section-title{
    /* display: flex;
    align-items: center; */
    margin-left: 2.7em;
    margin-right:2.7em ;
    padding: 10px 0;
    color: #2379DB;;
    font-size: 18pt;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}
.aucune-demande{
    font-size: large;
    font-weight: bold;
    color: crimson;
    text-align: end;
}
.delete-icon{
    color: crimson;
    cursor: pointer;
}
