<div class="sticky-top">
        <nav class="navbar top-navbar">
            <div class="container nav-container">
                <div class="logo">
                    <a href="">
                        <img src="../../../assets/logo_ensa.png" alt="logo">
                    </a>
                </div>
                <div class="user">
                    <fa-icon  class="user-icon" [icon]="faUser"></fa-icon>
                    <strong>{{ username }}</strong>
                </div>
            </div>
        </nav>
        
        <nav class="bottom-navbar">
            <div class="container  nav-container">
                <ul class="nav page-navigation">
                    <li class="nav-item">
                        <a  href="" class="nav-link">
                            <fa-icon  class="menu-icon" [icon]="faHouse"></fa-icon>
                            <span class="menu-title">Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/information" routerLinkActive="router-link-active" class="nav-link">
                            <fa-icon  class="menu-icon" [icon]="faUserGroup"></fa-icon>
                            <span class="menu-title">Informations</span>   
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/annonce" routerLinkActive="router-link-active"  class="nav-link">
                            <fa-icon  class="menu-icon" [icon]="faScroll"></fa-icon>
                            <span class="menu-title">Annonces & avis</span>   
                        </a>
                    </li>
                    <li class="nav-item" id="dropdown"  (mouseenter)="onMouseEnter()"
                            (mouseleave)="onMouseOut()">
                        <a class="nav-link" >
                            <fa-icon  class="menu-icon" [icon]="faNoteSticky"></fa-icon>
                            <span class="menu-title">Autres Services</span>
                            <fa-icon  class="menu-arrow" [icon]="faCaretDown"></fa-icon>
                        </a>
                        <div class="submenu " [class.toggled]="classToggled" id="menu">
                            <ul class="submenu-item">
                                <li class="nav-item"><a  routerLink="/services-divers" class="nav-link">Services divers</a>
                                </li>
                                <li class="nav-item"><a routerLink="/convention" class="nav-link">Conventions de stage</a>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link">Demandes de services</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>