<div class="horizontal-menu">
    <nav class="navbar top-navbar">
        <div class="container nav-container">
            <div class="logo">
                <a href="">
                    <img src="" alt="">
                    Logo
                </a>
            </div>
            <div class="user">
                Bonjour <strong>{{ username }}</strong>
            </div>
        </div>
    </nav>
    
    <nav class="bottom-navbar">
        <div class="container  nav-container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a  href="" class="nav-link">
                        <fa-icon  class="menu-icon" [icon]="faHouse"></fa-icon>
                        <span class="menu-title">Accueil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <fa-icon  class="menu-icon" [icon]="faUserGroup"></fa-icon>
                        <span class="menu-title">Informations</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <fa-icon  class="menu-icon" [icon]="faScroll"></fa-icon>
                        <span class="menu-title">Annonces & avis</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <fa-icon  class="menu-icon" [icon]="faNoteSticky"></fa-icon>
                        <span class="menu-title">Autres Services</span>   
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>