.horizontal-menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.top-navbar{
    font-weight: 400;
    background: #405189;
    border-bottom: 1px solid #f3f3f3;
    height: 3.5rem;
}
.user{
    display: flex;
    gap: 20px;
    align-items:baseline;
    color: #e3e8eb ;
}

.user .user-icon{
    font-size: x-large;
}

.bottom-navbar{
    background: #e3e8eb;
    box-shadow: 0px 0px 50px #D3D3D3;

}
.nav-container{
    max-width: 70%;
}

.page-navigation{
    justify-content: space-around;
}

.nav-link{
    color: #686868;
    padding: 22px 10px;
    line-height: 1;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menu-title{
    font-size: 0.875rem;
    font-weight: 300;
}
.menu-icon{
    color:#405189;
    margin-right: 10px;
}
.menu-arrow{
    margin-left: 8px;
    display: inline-block;;
}
.submenu ul{
    padding: 25px;
    list-style: none;

}
.submenu{
    position: absolute;
    top: 116px;
    z-index: 999;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.submenu ul li a{
    display: block;
    padding: 5px 10px;
    font-weight: 300;
    color: #686868;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
    padding-left: 20px;
}
.submenu ul li a:hover {
    color: #007bff;
    font-weight: 500px;
}
.submenu ul li a::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 2px;
    border-radius: 100%;
    background: #a3a4a5;
    top: 12px;
    left: 0;
}

.nav-item{
    display: block;
    line-height: 20px;
}

.toggled{
    display:none;
}
img{
    width: 40px;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

}