<section class="container app-container">
    <h2 class="page-title">
    <fa-icon  class="title-icon" [icon]="faFile"></fa-icon>
    Conventions de stage</h2>

    <!-- <app-search-bar-convention></app-search-bar-convention> -->

    <div class="wrapper mt-5">
        <div class="demande-number">{{conventionResponse?.data?.conventions?.length}} demandes disponibles</div> 
        <div class="section-title">Liste des demandes</div>
        <div class="table-service" id="tableConvention">
            <table class="table table-hover table-striped">
            <thead class="table-header">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type de demande</th>
                <th scope="col">État</th>
                <th scope="col">Modifier</th>
                <th scope="col">Télécharger</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody *ngFor="let conv of conventionResponse?.data?.conventions" class="table-body" >
                <tr>
                <td>{{conv.nomSociete}}</td>
                <td>{{conv.type}}</td>
                <td>{{conv.sujetStage}}</td>
                <td> <a (click)="updateConvention(conv)"><fa-icon  class="update-icon icon" [icon]="faPenToSquare" ></fa-icon></a></td>
                <td> <a (click)="downloadPDF()"><fa-icon  class="download-icon icon" [icon]="faDownload" ></fa-icon></a></td>
                <td> <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><fa-icon  class="delete-icon icon" [icon]="faTrash" ></fa-icon></a></td>
                </tr>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer cette convention</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûres?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="deleteConvention(conv)">Supprimer</button>
                        </div>
                        </div>
                    </div>
                </div>
            </tbody>
            <tbody *ngIf="conventionResponse?.data?.conventions?.length === 0 ">
                <tr class="aucune-demande"> Aucune demande trouvée</tr>    
            </tbody>
            </table>
        </div>
    </div>

</section>
<section class="container app-container">

            <div class="section-title">Passer une nouvelle demande</div>
            <div class="row row-cols-4 form-service">
                <div class="col ">
                    <label >Objet de la demande</label><br>
                    <div>
                        <select class="form-select" [(ngModel)]="selectedValue">
                            <option value=""></option>
                            <option value="Projet de fin d'études (PFE)">Projet de fin d'études (PFE)</option>
                            <option value="Projet de fin d'année (PFA)">Projet de fin d'année (PFA)</option>
                            <option value="Projet de fin de semestre (PFS)">Projet de fin de semestre (PFS)</option>
                            <option value="Stage d'observation">Stage d'observation</option>
                        </select>
                        <button (click)="onAddDemand()" class="btn form-button btn-primary" [disabled]="showForm">Commencer</button>
                        <div class="msg-erreur" *ngIf="message.length !=0">{{message}}</div>
                    </div>
                </div>
            </div>

        <app-form-convention *ngIf="showForm" [conventionType]="selectedValue" (save)="saveConvention($event)" ></app-form-convention> 


</section>
