<form class="form" #signForm="ngForm">  
  <div class="divider d-flex align-items-center my-4">
    <p class="title text-center fw-bold mx-3 mb-0">SIGNUP</p>
  </div>
    <div class="input-wrapper  form-floating mb-4">
      <input type="date" class="form-control form-control-lg form-input" ngModel name="date" placeholder="Enter your birthday" required>
      <!-- <label for="email">Date Naissance</label> -->
    </div>
    <div class="input-wrapper  form-floating mb-3">
      <input type="text" class="form-control form-control-lg form-input" ngModel name="cne" placeholder="Enter your CNE" required>
      <label for="password">CNE</label>
    </div>
    <div class="text-center text-lg-start mt-2 pt-2">
      <button type="button" class="btn btn-primary btn-lg button" (click)="submit(signForm)" [disabled]="signForm.invalid"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign in</button>
    </div>
</form>