<div class="search-bar">
    <div class="row row-cols-4">
        <div class="col">
            <label>Année universitaire</label> <br>
              <input type="text" class="form-control" placeholder="2022/2023" disabled/>
        </div>
      <div class="col">
        <label >Filtrer par type de demande</label>
        <select class="form-select" (change)="onSelectDemand()" [(ngModel)]="selectedDemandValue" ngModel="All" name="type">
            <option value="All" selected>All</option>
            <option value="Certificat de Scolarité">Certificat de Scolarité</option>
            <option value="Attestation d'inscription">Attestation d'inscription</option>
            <option value="Attestation de Réussite">Attestation de Réussite</option>
            <option value="Attestation de Classement">Attestation de Classement</option>
            <option value="Relevé des notes">Relevé des notes</option>
        </select>
      </div>
    
    </div>
  </div>