  .input-wrapper {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 25px;
    color: #333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
      
  .form-input {
    background-color: #F9F9F9;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 1.1rem;
    padding: 10px;
  }

  .form-input:focus {
    background-color: #FFF;
    box-shadow: none;
  }

  label {
    color: #AAA;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .button {
    /* background-color: #6C63FF; */
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: #5B54E8;
  } 
  
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}