<form class="form" #loginForm="ngForm">  
  <div class="divider d-flex align-items-center my-4">
    <p class="title text-center fw-bold mx-3 mb-0">LOGIN</p>
  </div>
    <div class="input-wrapper  form-floating mb-4">
      <input type="email" class="form-control form-control-lg form-input" ngModel name="email" placeholder="Enter your email" required>
      <label for="email">Email address</label>
    </div>
    <div class="input-wrapper  form-floating mb-3">
      <input type="password" class="form-control form-control-lg form-input" ngModel name="password" placeholder="Enter your password" required>
      <label for="password">Password</label>
    </div>
    <div class="text-center text-lg-start mt-2 pt-2">
      <button type="button" class="btn btn-primary btn-lg button" [disabled]="loginForm.invalid"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
    </div>

</form>