.box{
  border-radius: 25px;
  height: 700px;
  width: 800px;
  display: flex;
  flex-direction: row;
  padding : 0px;
}

.right-side{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.left-side{
  height:100%;
  width : 50%;
  text-align: center;
  background-color: #3f51b5;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.notice{
  padding-top: 250px;
}
