<div class="right">

  <h1> Login Form </h1>


  <ng-form class="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="name@example.com" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput required>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" routerLink="navigation">Login</button>
    </div>

  </ng-form>

</div>
