<h3>Convention de stage</h3>

Entre les soussignés :
Nom de l'entreprise, représentée par (préciser)
Adresse de l'entreprise,
Ci-dessous désignée « l'entreprise »
Et,

Mme/M. (préciser Nom Prénom du stagiaire), né(e) le (date), demeurant au (adresse complète) et immatriculé à la Sécurité sociale sous le numéro (indiquer le numéro de Sécurité sociale du stagiaire),
Ci-dessous désigné(e) « le stagiaire »
Et,

Nom de l'établissement d'enseignement de rattachement
Adresse complète de l'établissement
Représenté par (préciser),
Ci-dessous désigné « l'établissement d'enseignement »

Il a été convenu ce qui suit.

Article I. Projet et missions
Le stage encadré par cette présente convention s'inscrit dans un projet pédagogique, personnel et professionnel visant à permettre au stagiaire de se préparer au mieux à l'entrée dans la vie active. Dans ce contexte, le stagiaire sera amené à mettre en pratique les compétences théoriques et pratiques acquises au sein de l'établissement d'enseignement, et aura pour principales missions (lister les missions attribuées au stagiaire).

Article II. Durée et horaires
Le stagiaire est invité à réaliser ses missions à compter du (date) et pour une durée de (préciser). La convention de stage prendra donc fin au (date). Durant toute cette période, le stagiaire devra être présent dans l'entreprise (préciser le nombre d'heures par semaine et les horaires).

Article III. Modalités d'encadrement
Durant toute la durée de son stage, le stagiaire sera encadré par (préciser les informations sur le maître de stage et sur le tuteur du stage).

Article IV. Gratification et avantages
Durant toute la durée de son stage, le stagiaire percevra une gratification mensuelle d'un montant de (indiquer le montant en euros en chiffres et en lettres), la durée de son stage étant supérieure à deux mois, conformément à l'article L612-11 du Code de l'éducation.
Le stagiaire bénéficiera par ailleurs des prestations suivantes (préciser : repas, hébergement, etc.).

Article VI. Protection sociale et assurance
Le stagiaire conserve durant toute la durée de son stage la protection sociale à laquelle il est affilié, ainsi que son statut d'étudiant. Il bénéficie par ailleurs de la législation sur les accidents du travail. Le stagiaire est invité à souscrire une assurance responsabilité civile et à en fournir une attestation à l'entreprise.

Article VII. Règlement intérieur
Pendant toute la durée du stage, le stagiaire s'engage à respecter le règlement intérieur de l'entreprise et à s'astreindre à un devoir de réserve et de confidentialité. L'entreprise se réserve le droit de mettre fin au stage en cas de manquement disciplinaire grave.

Fait en trois exemplaires le (date) à (lieu),

Signature des trois parties précédée de la mention « Lu et approuvé ».
