<div class="annonce ">
    <span >{{index}}</span>
    <div class="">
      <div class="annonce-title">
        {{annonce.titre}}
      </div>
      <div class="annonce-body">
          <div class="annonce-label">Date de publication</div>
          <div class="annonce-info">{{annonce.datePublication.toString().split("T")[0]}}</div>
          
        <div class="annonce-label">Niveaux concernés</div>
        <div class="annonce-info">{{annonce.niveaux}}</div>
  
        <div class="annonce-label">Filières concernées</div>
        <div class="annonce-info">{{annonce.filiere}}</div>
  
        <div class="annonce-info plus-info">{{annonce.contenu}}
          <a (click)="singleAnnonce()" class="btn btn-primary" >Plus de détails</a>
        </div>
      </div>
    </div>
    
</div>