<div class="container app-container">
    <h2 class="page-title">
        <fa-icon  class="title-icon" [icon]="faCircleExclamation"></fa-icon>
        Demande de Service
    </h2>

    <div class="wrapper" *ngIf="!caseSubmited">
        <div class="section-title">Passer une demande</div>
        <div class="app-container container">
            <form #caseForm ="ngForm" class="form-horizontal">
                <div class="form-group form-element">
                    <label >Objet de la demande</label><br>
                    <select class="form-select" ngModel name="type" required>
                        <option value=""></option>
                        <option value="Demande d'information">Demande d'information</option>
                        <option value="Réclamation">Réclamation</option>
                    </select>
                </div>
                <div class="form-group form-element">
                    <label >Sujet</label>
                    <input type="text" ngModel name="sujet" class="form-control" required>
                </div>
                <div class="form-group form-element">
                    <label >Description</label>
                    <textarea type="text" ngModel name="desciption" class="form-control" required></textarea>
                </div>  
                <button (click)="saveCase(caseForm)" class="btn btn-primary form-element" [disabled]="caseForm.invalid">Envoyer la Demande</button>
            </form>
        </div>
    </div>    
    <div class="message" *ngIf="caseResponse?.statusCode === 201">
            Demande envoyée avec succès
    </div>

</div>