<section class="container app-container">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../assets/img.webp"
            class="img-fluid" alt="pic">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Espace réservé aux étudiants de l'ENSA de Marrakech</p>
          </div>
  
           <router-outlet></router-outlet>
  
           <div class="text-center text-lg-start mt-2 pt-2">
  
            <p *ngIf="!toggled" (click)="toggle()" class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
               <a routerLink="/cne-date" routerLinkActive="router-link-active"  class="link-danger">Sign up</a></p>
  
            <p *ngIf="toggled" (click)="toggle()" class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
                <a routerLink="/" routerLinkActive="router-link-active"  class="link-danger">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  